In [5]:
import pandas as pd
pd.set_option('display.max_rows', 500)
data_path='C:/Users/Sarvesh Telang/ads_covid-19/data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
pd_raw=pd.read_csv(data_path)
pd_raw.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/15/22,5/16/22,5/17/22,5/18/22,5/19/22,5/20/22,5/21/22,5/22/22,5/23/22,5/24/22
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,15863,15870,15871,15873,15885,15891,15891,15891,15904,15909
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,55862,55916,55941,55960,55996,56031,56031,56031,56134,56173
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,5681,5688,5688,5691,5691,5692,5692,5692,5694,5694
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,6457,6463,6465,6466,6468,6469,6469,6469,6473,6476
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,15005,15015,15019,15025,15031,15039,15039,15039,15045,15047